# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
using-react/node_modules
using-react/.pnp
using-react/.pnp.js

# testing
using-react//coverage

# production
using-react//build

# misc
using-react/.DS_Store
using-react/.env.local
using-react/.env.development.local
using-react/.env.test.local
using-react/.env.production.local

using-react/npm-debug.log*
using-react/yarn-debug.log*
using-react/yarn-error.log*
