# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
with-react/node_modules
with-react/.pnp
with-react/.pnp.js

# testing
with-react//coverage

# production
with-react//build

# misc
with-react/.DS_Store
with-react/.env.local
with-react/.env.development.local
with-react/.env.test.local
with-react/.env.production.local

with-react/npm-debug.log*
with-react/yarn-debug.log*
with-react/yarn-error.log*
